@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.loginarea {
  display: flex;
  flex-wrap: wrap;
}

.textarealogin {
  width: 100%;
  margin: 3%;
  padding: 0 3%;
  line-height: 1.5;
  font-size: 1rem;
}

#sign-in-widget {
  width: 100%;
  margin: 0 auto;
  background: #fafafa;
}

.okta-form-title {
  text-align: center;
  font-size: 24px;
  line-height: 22px;
  color: rgba(60, 60, 67, 0.6);
}

.o-form-fieldset-container {
  text-align: center;
}

.o-form-button-bar {
  margin-top: 6%;
  text-align: center;
  margin-bottom: 5%;
}

#okta-signin-username {
  appearance: none;
  width: 70%;
}

#okta-signin-password {
  width: 70%;
}

.js-help {
  padding-left: 35%;
  color: black;
}
