@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.loginarea {
  display: flex;
  flex-direction: row-reverse;
}

.bglogin {
  width: 100%;
}

.textarealogin {
  width: 70%;
  padding-left: 6%;
  padding-right: 8%;
  padding-top: 5%;
}

.textarealogin p {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
}

#sign-in-widget {
  width: 40%;
  background-color: #fafafa;
}

.okta-form-title {
  text-align: center;
  font-size: 24px;
  line-height: 22px;
  color: rgba(60, 60, 67, 0.6);
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
}
