.share-points-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .minMQ(@desktop, {flex-direction: column; ;});
  .submission-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    width: 200px;
  }

  h1 {
    color: @black;
  }

  img {
    width: 100%;
  }

  select {
    text-align-last: right;
    height: 60px;
    font-size: 1.7rem;
    font-weight: 900;
    padding-right: 2rem;
  }

  option {
    height: 60px;
    direction: rtl;
    appearance: none;
  }
}
