// Global Styles ----------------------------

// Bangers Font for Headers
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

// Nunito Font for regular text
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: @secondary;
  color: @txt-dark;
  background: @white;
  box-sizing: border-box;
  max-width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: @primary;
    color: @white;
    -webkit-text-stroke: @black;
  }

  .ant-modal .ant-btn {
    background: @red;
    color: @white;
    border: 2px solid @black;
    border-radius: 7px;

    &:hover {
      background: lighten(@red, 10%);
      border-color: lighten(@black, 10%);
    }
  }
}
