.pdf-container {
  display: flex;
  justify-content: center;
  position: relative;

  canvas {
    border: 1px solid @black;
    margin: 2%;
    box-shadow: 2px 2px 8px 0px @black;
  }

  .prev-page-btn,
  .next-page-btn,
  .reading-done-btn {
    position: absolute;
    cursor: pointer;
  }

  .prev-page-btn,
  .next-page-btn {
    top: 48%;
  }

  .prev-page-btn {
    left: 5%;
  }

  .next-page-btn {
    right: 5%;
  }

  .reading-done-btn {
    background: @red;
    color: @white;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 8px;
    top: 25px;
  }
}
