// for global vars.. font style, colors etc..

// ex:  @fontFamily= 'Roboto'
// "Branding" Colors ------------
@cyan: #6ceae6;
@red: #eb7d5b;
@green: #b5d33d;
@darkGreen: #6a7f17;
@yellow: #fed23f;
@blue: #429cb5;
@lightBlue: #73adec;
@dark-blue: #0267c1;
@btn-blue: #007aff;
@white: #fafafa;
@black: #292929;
@grey: #c4c4c4;
@txt-dark: #5f5f5f;
@txt-lite: #949494;
@brown:#292929;
//-------------------------------

//Media Query min-width sizes for .MQ mixin
@desktop: 800px;
@ipad: 500px;

// FontFamilies
@primary: 'Bangers', cursive;
@secondary: 'Nunito', sans-serif;

// Box Shadow
@shadow-lg:1px 1px 40px 80px rgba(0, 0, 0, 0.1);


@headerHeight: 25vh;
@gameControllerHeight: 100px;
