.dash-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  border: 2.5px solid #292929;
  padding: 1%;
}

.dash-btn-container img {
  height: 100%;
}

.dash-btn-container.mission {
  background: #b5d33d;
}

.dash-btn-container.avatar {
  background: #eb7d5b;
}

.dash-btn-container.passport {
  background: #fed23f;
}

.dash-btn-container.trophy {
  background: #429cb5;
}
