@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.Content {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background: white;
}

.AddCard {
  height: 176px;
  width: 343px;
  background: #6ceae6;
  border: 0.5px solid #949494;
  box-sizing: border-box;
  border-radius: 14px;
  font-size: 36px;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #0267c1;
  font-family: 'Bangers';
}

.parent-layout {
  background: 'white';
  height: '100vh';
}

.parent-header {
  background: 'white';
  width: '100%';
}

.signupForm {
  background: #6ceae6;
  border-radius: 14px;
  width: 674px;
  height: 334px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.signupForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 40%;
  height: 100%;
}

.signupForm input {
  padding: 8px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.75);
}

.signupForm .subBtn {
  background: #007aff;
  border-radius: 14px;
  color: white;
}

.switch {
  position: relative;
  align-content: end;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #007aff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007aff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
