.storysquad-header {
  position: relative;
  width: 100%;
  height: 15vh;
  background: #6ceae6;

  .header-title {
    position: absolute;
    width: 100%;
    color: #fafafa;
    text-align: center;
    z-index: 5;
  }

  img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
